.shop {
	display: grid;
	grid-template-columns: 4fr 1fr;
}

.products {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 3rem;
	padding: 5rem;
}

.orders-container {
	height: 100%;
	background-color: #ff99004d;
}
