.order-carts-container {
	background-color: #ff99004d;
	padding: 1rem;
    position: sticky;
    top: 0;
    height: 100vh;
}

.order-carts-container h2 {
	text-align: center;
	font-style: normal;
	font-weight: 400;
	font-size: 25px;
	line-height: 30px;
	color: #1c2b35;
	margin-top: 1.5rem;
	margin-bottom: 3rem;
}

.order-carts {
	padding-left: 0.5rem;
}

.order-carts p {
	font-size: 17px;
	line-height: 20px;
	letter-spacing: 0.005em;
	color: #2a414f;
	margin-bottom: 1rem;
}

.order-carts p.total-price {
	font-size: 21px;
	line-height: 25px;
	letter-spacing: 0.0015em;
	color: #0e161a;
}
