.order-carts-container {
	padding: 1rem;
	position: sticky;
	top: 0;
}

.order-carts-container h2 {
	text-align: center;
	font-style: normal;
	font-weight: 400;
	font-size: 25px;
	line-height: 30px;
	color: #1c2b35;
	margin-top: 1.5rem;
	margin-bottom: 3rem;
}

.order-carts {
	padding-left: 0.5rem;
}

.order-carts p {
	font-weight: 400;
	font-size: 21px;
	line-height: 25px;
	letter-spacing: 0.0015em;
	color: #2a414f;
	margin-bottom: 2rem;
}

.order-carts p.total-price {
	font-weight: 400;
	font-size: 25px;
	line-height: 30px;
	color: #0e161a;
}

.order-clear-cart-btn {
	width: 100%;
	padding: 16px;
	display: flex;
	align-items: center;
	background: #ff3030;
	border-radius: 4px;
	color: #fff;
	font-size: 21px;
	line-height: 25px;
	letter-spacing: 0.0015em;
	border: none;
	cursor: pointer;
	margin-top: 60px;
}

.order-clear-cart-btn:hover {
	background-color: #ff1818;
}

.order-clear-cart-btn svg,
.child-cart-btn svg {
	margin-left: auto;
}

.child-cart-btn {
	width: 100%;
	padding: 16px;
	display: flex;
	align-items: center;
	background: #FF9900;
	border-radius: 4px;
	color: #fff;
	font-size: 21px;
	line-height: 25px;
	letter-spacing: 0.0015em;
	border: none;
	margin-top: 10px;
}